/* font-family: 'Raleway', sans-serif; */
/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;900&display=swap" rel="stylesheet"> */

/* Site Wide formatting --------------------------------------------- */

p{
    color: grey;
}

/* Index page --------------------------------------------- */


h1{
    font-family: 'Raleway';
    font-weight: 700;
    /* border-bottom: blueviolet;
    border-top: white;
    border-left: white;
    border-right: white;
    border-style: solid; */
}

h2{
    font-family: 'Raleway';
}

img{
    max-width: 100%;
    border-radius: .3em;
}

/* Overlays --------------------------------------------- */

.people-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(242, 5, 135);
  border-radius: .3em;
}

.people-div:hover .people-overlay {
  opacity: 1;
}

.services-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #861BF2;
  border-radius: .3em;
}

.services-div:hover .services-overlay {
  opacity: 1;
}

.products-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #07DBF2;
  border-radius: .3em;
}

.products-div:hover .products-overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Contact page --------------------------------------------- */
.contact-form-input{
    height: 30vh;
    vertical-align: top;
}

button{
    width: 30%;
}

button.btn {
    border-color: rgb(236, 159, 201);
    border-style: solid;
    border-radius: .3;
    border-width: .2em;
    color:#F20587;
    background-color: white;
}

button.btn:hover {
    background-color: #F20587;
    color:white
}


#map {
  height: 100%;
}

/* .contact-form-input{
  height: 30vh;
}

::-webkit-input-placeholder { Chrome/Opera/Safari
    position: relative !important;
    transform:translateY(-220%) !important;
  }
  input::-moz-placeholder { Firefox 19+
    vertical-align: top;
  }
  input::-ms-input-placeholder { IE 10+
    vertical-align: top;
  } */



/* Media Queries --------------------------------------------- */

/* Index page --------------------------------------------- */

@media only screen and (min-width: 600px) {
h1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size:100px;

}
}


/* .container{
    background-color: rgb(253, 249, 197);
} */

/* .centre-header{
    font-size: 20vh;
} */