/* font-family: 'Raleway', sans-serif; */
/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;900&display=swap" rel="stylesheet"> */

/* Site Wide formatting --------------------------------------------- */

p{
    color: grey;
}

/* Index page --------------------------------------------- */


h1{
    font-family: 'Raleway';
    font-weight: 700;
    /* border-bottom: blueviolet;
    border-top: white;
    border-left: white;
    border-right: white;
    border-style: solid; */
}

h2{
    font-family: 'Raleway';
}

img{
    max-width: 100%;
    border-radius: .5em;
}


/* Contact page --------------------------------------------- */
.contact-form-input{
    height: 30vh;
    vertical-align: top;
}

button{
    width: 40%;
}

#map {
  height: 100%;
}

/* .contact-form-input{
  height: 30vh;
}

::-webkit-input-placeholder { Chrome/Opera/Safari
    position: relative !important;
    transform:translateY(-220%) !important;
  }
  input::-moz-placeholder { Firefox 19+
    vertical-align: top;
  }
  input::-ms-input-placeholder { IE 10+
    vertical-align: top;
  } */



/* Media Queries --------------------------------------------- */

/* Index page --------------------------------------------- */

@media only screen and (min-width: 600px) {
h1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size:100px;

}
}


/* .container{
    background-color: rgb(253, 249, 197);
} */

/* .centre-header{
    font-size: 20vh;
} */